.home__container {
  position: relative;
  height: 100vh;
  padding: 20px 10px;
  background-color: rgb(29, 29, 29);
  align-items: flex-start !important;
  overflow-y: auto;
  padding: 160px 0;
  padding-bottom: 0;
}
.region__selector {
  position: fixed;
  top: 110px;
  left: 20px;
  font-size: 20px;
  font-weight: 700;
  align-items: flex-start !important;
  color: white;
}
.regions {
  margin-top: 5px;
  margin-left: 20px;
  background-color: aliceblue;
  overflow-y: scroll;
  z-index: 103;
}
::-webkit-scrollbar {
  width: 0;
}
.option,
.selected__option {
  color: black;
  height: 20px;
  width: 110px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  border-bottom: 1px solid black;
}
.option:hover {
  background-color: rgb(211, 211, 211);
}
.display__container {
  width: 100%;
  padding: 0 5%;
  background-color: rgb(29, 29, 29);
  z-index: 102;
}
.reload__button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 106;
  background-color: rgb(236, 25, 60);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.show__loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 108;
}
.loading__background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  background: #111;
  z-index: 107;
}
